<nav class="navbar navbar-expand-lg titulo" style="background-color: #42275a">
    <div class="container-fluid">
      <i class="fa-solid fa-video p-3" style="color: white"></i>
      <a class="navbar-brand" href="#" style="color: white">FISCALIA</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              style="color: white"
              routerLink="addAsignacion"
              >Nueva asignacion</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              style="color: white"
              routerLink="addProyector"
              >Añadir Proyector</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>