<div class="container mt-5">

  <div class="row mt-4">
    <div class="col-lg-4 lg-2">
      <div class="card">
        <div class="card-body">
          <button class="boton" routerLink="addAsignacion">CREAR ASIGNACION</button>
          <button class="boton" routerLink="addProyector">NUEVO PROYECTOR</button>

        </div>
      </div>
    </div>

    <div class="col-lg-8 lg-2">
        <div class="card">
            <div class="card-body">
            <input class="input text-center" type="text" placeholder="Numero de serie / Nombre del proyector">
            <button class="boton">BUSCAR</button>
            </div>
        </div>
    </div>

  </div> <!-- row -->

  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <button class="botonselect1">PROYECTORES</button>
          <button class="botonselect2">ASIGNACIONES</button>
          <table class="table">
            <tbody>
                <tr>
                    <td>Usuario1</td>
                    <td>Proyector1</td>
                    <td>Fecha Inicio</td>
                    <td>Fecha Fin</td>
                    <td>Nombre proyector</td>
                    <td>Numero de serie</td>
                    <td>Estado</td>
                    <td>Editar</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- row -->

</div> <!-- Container -->
